@model Fashion_Flex.ViewModels.ProfileViewModel
@{
	Layout = "_SidebarLayout";
}


<h2>Edit Customer</h2>
<form asp-action="EditCustomer" asp-controller="Admin" method="post">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<label asp-for="First_Name"></label>
		<input asp-for="First_Name" class="form-control" />
		<span asp-validation-for="First_Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Last_Name"></label>
		<input asp-for="Last_Name" class="form-control" />
		<span asp-validation-for="Last_Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Date_Of_Birth"></label>
		<input asp-for="Date_Of_Birth" class="form-control" />
		<span asp-validation-for="Date_Of_Birth" class="text-danger"></span>
	</div>

	<div class="form-group">
		
		<input asp-for="Email" type="hidden" class="form-control" />
		
	</div>

	<div class="form-group">
		<label asp-for="Phone_Number"></label>
		<div class="input-group">
			<select asp-for="Phone_Country_Code" asp-items="ViewBag.CountryPhoneCodes" class="custom-select"></select>
			<input asp-for="Phone_Number" class="form-control" />
		</div>
		<span asp-validation-for="Phone_Number" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Street_Name"></label>
		<input asp-for="Street_Name" class="form-control" />
		<span asp-validation-for="Street_Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Building_No"></label>
		<input asp-for="Building_No" class="form-control" />
		<span asp-validation-for="Building_No" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="City"></label>
		<input asp-for="City" class="form-control" />
		<span asp-validation-for="City" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Governorate"></label>
		<input asp-for="Governorate" class="form-control" />
		<span asp-validation-for="Governorate" class="text-danger"></span>
	</div>

	<div class="form-group form-check">
		<input asp-for="Is_Active" class="form-check-input" type="checkbox" />
		<label asp-for="Is_Active" class="form-check-label"></label>
		<span asp-validation-for="Is_Active" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Submit Edit</button>
</form>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}