@model Fashion_Flex.ViewModels.RegisterViewModel

@{
	ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post">
	<div class="form-group">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" type="password" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="ConfirmPassword"></label>
		<input asp-for="ConfirmPassword" class="form-control" type="password" />
		<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="PhoneNumber"></label>
		<input asp-for="PhoneNumber" class="form-control" />
		<span asp-validation-for="PhoneNumber" class="text-danger"></span>
	</div>

	<hr />
	<h4>Customer Information</h4>

	<div class="form-group">
		<label asp-for="First_Name"></label>
		<input asp-for="First_Name" class="form-control" />
		<span asp-validation-for="First_Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Last_Name"></label>
		<input asp-for="Last_Name" class="form-control" />
		<span asp-validation-for="Last_Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Date_Of_Birth"></label>
		<input asp-for="Date_Of_Birth" class="form-control" type="date" />
		<span asp-validation-for="Date_Of_Birth" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Address"></label>
		<input asp-for="Address" class="form-control" />
		<span asp-validation-for="Address" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Phone_Country_Code"></label>
		<input asp-for="Phone_Country_Code" class="form-control" />
		<span asp-validation-for="Phone_Country_Code" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
