# Ignore build output folders
bin/
obj/

# Ignore user-specific files
*.user
*.rsuser
*.suo

# Ignore Visual Studio specific folders
.vs/
.vscode/

# Ignore design-time build files
**/DesignTimeBuild/
**/FileContentIndex/
**/v17/
**/ProjectEvaluation/

# Ignore package files
*.nupkg
/desktop.ini
