@model Fashion_Flex.ViewModels.ProfileViewModel
@{
	Layout = "_CozaStoreLayout";
}

<div class="container m-tb-200">
	<h2 class="mb-4">Edit Profile</h2>

	<form asp-action="Edit" method="post">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label asp-for="First_Name" class="form-label">First Name</label>
				<input asp-for="First_Name" class="form-control" placeholder="Enter your first name" />
				<span asp-validation-for="First_Name" class="text-danger"></span>
			</div>

			<div class="form-group col-md-6">
				<label asp-for="Last_Name" class="form-label">Last Name</label>
				<input asp-for="Last_Name" class="form-control" placeholder="Enter your last name" />
				<span asp-validation-for="Last_Name" class="text-danger"></span>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Email" class="form-label">Email Address</label>
			<input asp-for="Email" class="form-control" placeholder="Enter your email" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="Phone_Number" class="form-label">Phone Number</label>
			<div class="input-group">
				<select asp-for="Phone_Country_Code" asp-items="ViewBag.CountryPhoneCodes" class="custom-select"></select>
				<input asp-for="Phone_Number" class="form-control" id="phoneNumberInput" type="tel" placeholder="Enter your phone number" />
			</div>
			<span asp-validation-for="Phone_Number" class="text-danger"></span>
		</div>



		<div class="form-group">
			<label asp-for="Date_Of_Birth" class="form-label">Date of Birth</label>
			<input asp-for="Date_Of_Birth" class="form-control" type="date" />
			<span asp-validation-for="Date_Of_Birth" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label class="form-label">Address</label>
			<label asp-for="Street_Name" class="form-label">Street_Name</label>
			<input asp-for="Street_Name" class="form-control" placeholder="e.g. Talaat Harb Street" />
			<span asp-validation-for="Street_Name" class="text-danger"></span>
			<label asp-for="Building_No" class="form-label">Building_No</label>
			<input asp-for="Building_No" class="form-control" placeholder="e.g. Traders Tower, 155" />
			<span asp-validation-for="Building_No" class="text-danger"></span>
			<label asp-for="City" class="form-label">City</label>
			<input asp-for="City" class="form-control" placeholder="e.g. elDokki, New Cairo, ElNozha" />
			<span asp-validation-for="City" class="text-danger"></span>
			<label asp-for="Governorate" class="form-label">Governorate</label>
			<input asp-for="Governorate" class="form-control" placeholder="e.g. Cairo, Giza, Assiut" />
			<span asp-validation-for="Governorate" class="text-danger"></span>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>
</div>
